<VirtualHost *:80>
    ServerAlias {{ vhost.domains | join(' ') }}
    DocumentRoot {{ vhost.document_root }}
    <Directory {{ vhost.document_root }}>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ vhost.name }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ vhost.name }}.access.log combined
</VirtualHost>
