{% for command in item.supervisor.commands%}
[program:{{item.name}}-{{command.name}}]
process_name=worker_%(process_num)02d
directory={{item.supervisor.project_root}}
command={{command.command}}
numprocs={{command.numprocs}}
stdout_logfile={{command.stdout_logfile}}
user=ubuntu
autostart=true
autorestart=true
redirect_stderr=true

{% endfor %}