---
-
  hosts: all

  become: true

  user: ubuntu

  roles:
    - role: .provisioning/system
    - role: .provisioning/php-fpm
    - role: .provisioning/mysql-official-latest
    - role: .provisioning/composer
    - role: .provisioning/elasticsearch
    - role: .provisioning/meilisearch
    - role: .provisioning/wkhtmltox
    - role: .provisioning/vhosts
      tags: vhosts

    # available only for php >= 7.1
    # - role: .provisioning/php-mods/sqlsrv

  # Box options
  # -----------
  # Ubuntu 16.04 LTS: ubuntu/xenial64
  # Ubuntu 18.04 LTS: ubuntu/bionic64
  # Ubuntu 20.04 LTS: ubuntu/focal64
  # Ubuntu 22.04 LTS: ubuntu/jammy64

  vars:
    vagrantfile:
      box: "ubuntu/jammy64"
      hostname: "devbox"
      memory: "2048"  
      disk: "50GB"
      network:
        bridge: "en0: Ethernet"
        public_ip: "192.168.0.40"
        private_ip: "192.168.1.40"
      synced_folder:
        source: "/path/to/projects"
        target: "/var/www" 
      port_forward:
          80: 8080
          3306: 33060
    system:
      timezone: 'Europe/Bucharest'
      web_server: "nginx" # nginx, apache2
      php:
        version: "8.2"
        extensions:
          - fpm
          - cli
          - mysql
          - curl
          - mbstring
          - common
          - gd
          - imagick
          - soap
          - zip
          - bcmath
          - xml
          - sqlite3
          - dev
          - odbc
          - intl
          - redis
      elasticsearch_version: "7.12"
      meilisearch_version: "0.22.0"
      databases: []

    vhosts:
      - name: project_1
        document_root: "/var/www/project_1/public"
        domains: 
          - "project_1.localdev"
          - "api.project_1.localdev"
        ssl: true
      - name: project_2
        document_root: "/var/www/project_2/public"
        domains: 
          - "project_2.localdev"
          - "api.project_2.localdev"
        ssl: false
        supervisor:
          project_root: "/var/www/project_2"
          commands:
            - name: queue
              command: php artisan queue:work --sleep=1 --daemon
              numprocs: 3
              stdout_logfile: "/var/www/project_2/storage/logs/supervisor.log"
