---
-
  hosts: all

  become: true

  user: ubuntu

  roles:
    - .provisioning/system
    - .provisioning/elasticsearch
    - .provisioning/nginx
    - .provisioning/vhosts
    - .provisioning/php7-fpm
    - .provisioning/mysql-official-latest
    - .provisioning/composer
    - .provisioning/wkhtmltox
    - .provisioning/redis
    - .provisioning/beanstalk
    - .provisioning/supervisor

  vars:

    vagrantfile:
      box: "ubuntu/xenial64"
      hostname: "devbox"
      network:
        bridge: "en0: Ethernet"
      provider:
        vb:
          memory: "2048"  
      provision:
        ansible:
          verbose: "vv"  
      synced_folder:
        source: "/Users/ionutantohi/projects"
        target: "/var/www/html" 
      http_port_forward: 
        quest: 80
        host: 8080
    system:
      public_ip: "192.168.10.125"
      private_ip: "192.168.33.40"
      timezone: 'Europe/Bucharest'

    vhosts:
    - {name: "network-live.dev", server_name: "network.bamboo.dev network-admin.bamboo.dev", document_root: "/var/www/html/network-live-tracer-bullets/public"}
    - {name: "returnjet.dev", server_name: "returnjet.dev secure.returnjet.dev", document_root: "/var/www/html/returnjet-bms/public"}
