---
-
  hosts: all

  become: true

  user: ubuntu

  roles:
    - .provisioning/system
    - .provisioning/php-fpm
    - .provisioning/php-mods/sqlsrv
    - .provisioning/nginx
    - .provisioning/mysql-official-latest
    - .provisioning/elasticsearch
    - .provisioning/composer
    - .provisioning/redis
    - .provisioning/wkhtmltox
    - .provisioning/beanstalk
    - .provisioning/supervisor
    - .provisioning/vhosts

  vars:

    vagrantfile:
      box: "ubuntu/xenial64"
      hostname: "devbox"
      network:
        bridge: "en0: Ethernet"
      provider:
        vb:
          memory: "2048"  
      provision:
        ansible:
          verbose: "vv"  
      synced_folder:
        source: "/Users/ionutantohi/projects"
        target: "/var/www/html" 
      port_forward:
          80: 8080
          3306: 33060
    system:
      public_ip: "192.168.0.40"
      private_ip: "192.168.1.40"
      timezone: 'Europe/Bucharest'
      php_version: "7.0"
      elasticsearch_version: "6.4"

    vhosts:
      - name: network_live
        server_name: "network.bamboo.localdev network-admin.bamboo.localdev"
        document_root: "/var/www/html/network-live-tracer-bullets/public"
      - name: returnjet
        server_name: "returnjet.localdev secure.returnjet.localdev"
        document_root: "/var/www/html/returnjet-bms/public"
        supervisor:
          project_root: "/var/www/html/returnjet-bms"
          sleep: 1
          tries: 3
          queue: default
          numprocs: 3
          stdout_logfile: "/var/www/html/returnjet-bms/storage/logs/supervisor.log"
