[program:{{item.name}}]
process_name=worker_%(process_num)02d
command=php {{item.supervisor.project_root}}/artisan queue:work --sleep={{item.supervisor.sleep}} --tries={{item.supervisor.tries}} --daemon --queue={{item.supervisor.queue}}
numprocs={{item.supervisor.numprocs}}
stdout_logfile={{item.supervisor.stdout_logfile}}
user=ubuntu
autostart=true
autorestart=true
redirect_stderr=true
